In [ ]:
!pip install mysql-connector-python

### mysql connectiion process

In [1]:
import mysql.connector

mydb = mysql.connector.connect(    # here mydb,mycursor is an variable which is assigned the connector function since it is variable it can be any name of our choice
 host="localhost",
 user="root",
 password="",
 autocommit = True

)

mycursor = mydb.cursor(buffered=True) # cursor is important to communicate with database as our mouse cursor helps to communicate with system

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000028325849BB0>

### database checking

In [2]:
mycursor.execute("SHOW DATABASES")
print(list(mycursor))

[('guvi_arun',), ('information_schema',), ('mysql',), ('performance_schema',), ('phpmyadmin',), ('redbus_practice',), ('schooldb',), ('sqlvscode',), ('test',)]

In [3]:
mycursor.execute("CREATE DATABASE redbus_mdte11")

### entire bus details table

In [2]:
mycursor.execute("CREATE TABLE redbus_mdte11.entire_bus_details ( id INT NOT NULL , starting_place TEXT , reaching_place TEXT, route_link TEXT , \
                 bus_name TEXT , bus_type TEXT , departing_time TIME , duration TEXT , reaching_time TIME , star_rating DECIMAL \
                 , no_reviews INT , price INT , seat_availability INT , vacant_type TEXT \
                 )")

#### since i had an error importing csv file to database with the primary key already specified so i made a column without primary key and droped id column and created it again as primary key.

In [3]:
mycursor.execute("ALTER TABLE redbus_mdte11.entire_bus_details DROP COLUMN id ")

In [4]:
mycursor.execute("ALTER TABLE redbus_mdte11.entire_bus_details ADD COLUMN id INT NOT NULL AUTO_INCREMENT PRIMARY KEY FIRST ")

In [6]:
#mycursor.execute( "DROP TABLE redbus_practice.bus_route" )

### entire transport routes table

In [2]:
mycursor.execute("CREATE TABLE redbus_mdte11.entire_transport_routes ( id INT NOT NULL ,\
                  state_transport TEXT, routes_name TEXT,route_link TEXT, first_bus TEXT,\
                 last_bus TEXT,Starting_Price TEXT)\
                 ")

In [5]:
mycursor.execute("ALTER TABLE redbus_mdte11.entire_transport_routes DROP COLUMN id ")

In [6]:
mycursor.execute("ALTER TABLE redbus_mdte11.entire_transport_routes ADD COLUMN id INT NOT NULL AUTO_INCREMENT PRIMARY KEY FIRST ")